<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <script src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/index.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='index.css') }}">
</head>
<body>
<div class="container">
    <a href="/game">Play</a>
</div>
<div class="games">
    <ul>
        {% for game in games %}
        <li>
            <div class="replay">{{ game[0] }}</div>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="chessboard">
    <div class="square white a8">♜</div>
    <div class="square black b8">♞</div>
    <div class="square white c8">♝	</div>
    <div class="square black d8">♛</div>
    <div class="square white e8">♚</div>
    <div class="square black f8">♝	</div>
    <div class="square white g8">♞</div>
    <div class="square black h8">♜</div>

    <div class="square black a7">♟</div>
    <div class="square white b7">♟</div>
    <div class="square black c7">♟</div>
    <div class="square white d7">♟</div>
    <div class="square black e7">♟</div>
    <div class="square white f7">♟</div>
    <div class="square black g7">♟</div>
    <div class="square white h7">♟</div>

    <div class="square white a6"></div>
    <div class="square black b6"></div>
    <div class="square white c6"></div>
    <div class="square black d6"></div>
    <div class="square white e6"></div>
    <div class="square black f6"></div>
    <div class="square white g6"></div>
    <div class="square black h6"></div>

    <div class="square black a5"></div>
    <div class="square white b5"></div>
    <div class="square black c5"></div>
    <div class="square white d5"></div>
    <div class="square black e5"></div>
    <div class="square white f5"></div>
    <div class="square black g5"></div>
    <div class="square white h5"></div>

    <div class="square white a4"></div>
    <div class="square black b4"></div>
    <div class="square white c4"></div>
    <div class="square black d4"></div>
    <div class="square white e4"></div>
    <div class="square black f4"></div>
    <div class="square white g4"></div>
    <div class="square black h4"></div>

    <div class="square black a3"></div>
    <div class="square white b3"></div>
    <div class="square black c3"></div>
    <div class="square white d3"></div>
    <div class="square black e3"></div>
    <div class="square white f3"></div>
    <div class="square black g3"></div>
    <div class="square white h3"></div>

    <div class="square white a2">♙</div>
    <div class="square black b2">♙</div>
    <div class="square white c2">♙</div>
    <div class="square black d2">♙</div>
    <div class="square white e2">♙</div>
    <div class="square black f2">♙</div>
    <div class="square white g2">♙</div>
    <div class="square black h2">♙</div>

    <div class="square black a1">♖</div>
    <div class="square white b1">♘</div>
    <div class="square black c1">♗</div>
    <div class="square white d1">♕</div>
    <div class="square black e1">♔</div>
    <div class="square white f1">♗</div>
    <div class="square black g1">♘</div>
    <div class="square white h1">♖</div>
</div>
</body>
</html>